<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PixelPulse</title>
  <!-- Verweis auf deine zentrale CSS-Datei -->
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header>
    <h1>PixelPulse</h1>
    <nav>
      <a href="about.html">Über mich</a>
      <a href="blog.html">Blog</a>
    </nav>
  </header>

  <section class="hero">
    <h2>Überschrift</h2>
    <p>Das ist ein toller
        Text!</p>
    <a href="blog.html"><button class="cta">Zum Blog</button></a>
  </section>
</body>
<footer>
  <div class="footer-container">
    <p>© 2025 Imacikus – Alle Rechte vorbehalten</p>
    <nav>
      <a href="blog.html">Blog</a>
      <a href="about.html">Über mich</a>
      <a href="impressum.html">Impressum</a>
      <a href="datenschutz.html">Datenschutz</a>
    </nav>
  </div>
</footer>

</html>
